<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    {% if current_user.is_authenticated %}
    <p>
        <span>{{ current_user.username }}</span>
        <span><a href="{{ url_for('auth.logout') }}">Logout</a></span>
    </p>
    {% endif %}
</header>
{% block content %}{% endblock %}
</body>
</html>